.vscode/**
.vscode-test/**
src/**
temp/**
.gitignore
.gitattributes
.npmrc
.prettierignore
**/jsconfig.json
**/tsconfig.json
**/*.ts
**/*.map
**/.eslintrc.json
eslint.config.mjs
pnpm-lock.yaml
.github/
*.vsix
CLAUDE.md
CODE_OF_CONDUCT.md
assets/*.gif
assets/typopo--vs-code-settings.png
.claude/
.husky/
node_modules
