.vscode/**
.vscode-test/**
test/**
.gitignore
.gitattributes
.npmrc
**/jsconfig.json
**/*.map
**/.eslintrc.json
eslint.config.mjs
pnpm-lock.yaml
.github/
*.vsix
CLAUDE.md
CODE_OF_CONDUCT.md
assets/*.gif
assets/typopo--vs-code-settings.png
.claude/
